body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #444;
    color: white;
    text-align: center;
    padding: 2%;
}

h1, h2, p{
    margin: 0.5% 0;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.proyects{
    text-align: center;
    padding: 5%;
}

.proyect-card{
    background-color: aliceblue;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.proyect-card h4{
    margin-bottom: 3%;
}

.proyect-card p{
    color: #636363;
}

.proyect-card a{
    color: #00c6f8;
    text-decoration: none;
}

.proyect-card a:hover{
    color: #00c6f848;
    text-decoration: underline;
    background-color: aliceblue;
}

.contact{
    background-color: #444;
    color: aliceblue;
    text-align: center;
    padding: 2% 0;
}

.contact a{
    color: #00c6f8;
    text-decoration: none;
}

.contact a:hover{
    color: #00c6f848;
    text-decoration: underline;
}