body {
    background: #413c3c;
    font-family: sans-serif;
    margin: 10%;
} 
body div {
    background: #edbfbf;
    border-left: 3px solid rgb(186, 118, 93);
    border-radius: 5px;
    margin-top: auto;
    
}
nav {
    margin-left: 1px;
}
.title {
    margin-top: 0;
    background: cadetblue;
    margin-right: 70%;
    border-bottom: 3px solid chartreuse;
    margin-left: 1px;
}
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitle {
    border-bottom: 3px solid rgb(68, 65, 65);
    padding: 1px;
    margin-left: 1px;
    margin-right: 57%;
    color: rgb(77, 65, 65);
}
div p {
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(69, 66, 66);
}