/*- - - - - - - - - U N I V E R S A L - - - - - - - -*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*- - - - - - - - - - H E A D E R - - - - - - - - - -*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #1b2022;
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.h1-text {
  width: 30%;
}
.menu-container {
  width: 30%;
}
/*- - - - - - - - - - N A V - - - - - - - - - -*/
.list {
  display: flex;
  list-style: none;
  align-items: center;
}
li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 13px;
  display: inline-block;
  position: relative;
}
a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a:after {
  content: "";
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*- - - - - - - - - Text Container - - - - - - - - -*/
h1 {
  font-size: 25px;
  letter-spacing: 5px;
  font-family: "Grey Qo", cursive;
  font-weight: bolder;
  font-style: normal;
}
.fa-briefcase {
  margin-right: 10px;
  font-size: 18px;
}
.fa-briefcase:hover,
h1:hover {
  filter: drop-shadow(0 0 5px aqua);
  transition: 1s;
  translate: 4px;
}
h1:hover .fa-briefcase {
  transition: 1s;
  transform: rotate(50deg);
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4b494;
  height: 450px;
  width: 100%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 270px;
  width: 30%;
}
h2 {
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
  font-style: inherit;
  display: block;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  border-right: 2px solid #1b2022;
  width: 319px;
  animation: typing 3s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
h2:hover {
  transition: 1s;
  text-shadow: 0px 2px 2px #1b2022;
}
.name {
  color: #1b2022;
  transition: 1s;
}
.name:hover {
  text-shadow: 0px 2px 2px whitesmoke;
  transition: 1s;
}
.mern-container,
.student-container,
.h3-container {
  animation: fadeIn 3s;
  overflow-x: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mern-text {
  color: rgb(240, 248, 255);
  font-size: 15px;
  font-style: italic;
  animation: move-left-right 3s 1;
  transition: 0.1s;
}
@keyframes move-left-right {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
.mern-text:hover,
h3:hover {
  transition: 1s;
  text-shadow: 0px 2px 2px #1b2022;
}
.student-container {
  text-align: justify;
  transition: 1s;
}
.student-text {
  color: aliceblue;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  animation: move-right-left 3s 1;
  transition: 1s;
}
@keyframes move-right-left {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}
.student-text:hover {
  transition: 1s;
  text-shadow: 0px 2px 2px #1b2022;
}
.button-container {
  margin: 13px 0px 13px 0px;
}
.button {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: whitesmoke;
  width: 100px;
  height: 40px;
  background-color: #519872af;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  transition: 1s;
  animation: fadeIn 3s;
}
.button:hover {
  border: 1px solid #1b2022;
  color: whitesmoke;
  background-color: #51987288;
  transition: 1s;
  text-shadow: 0px 2px 2px #1b2022;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.webs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.h3-container {
  width: 50%;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  font-weight: 300;
  font-size: 15px;
  animation: move-left-right 3s 1;
  transition: 0.1s;
}
.fa-linkedin,
.fa-github,
.fa-instagram {
  font-size: 24px;
  transition: 1s;
  margin-right: 7px;
}
.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover {
  filter: drop-shadow(0 0 5px aqua);
  transition: 1s;
  transform: scale(1.1);
}
.socials-container {
  width: 50%;
}
/*- - - - - - - - - Img Container - - - - - - - - -*/
.img-container {
  display: flex;
  justify-content: center;
  width: 30%;
  animation: fadeIn 3s;
}
.profile-img {
  border-radius: 100%;
  border: 3px solid whitesmoke;
  transition: 1s;
  box-shadow: rgb(59, 82, 73, 0.4) 5px 5px, rgba(59, 82, 73, 0.3) 10px 10px,
    rgba(59, 82, 73, 0.2) 15px 15px, rgba(59, 82, 73, 0.1) 20px 20px,
    rgba(59, 82, 73, 0.05) 25px 25px;
}
.profile-img:hover {
  transition: 1s;
  transform: scale(1.01);
  border-radius: 100%;
  box-shadow: rgba(59, 82, 73, 0.4) -5px -5px, rgba(59, 82, 73, 0.3) -10px -10px,
    rgba(59, 82, 73, 0.2) -15px -15px, rgba(59, 82, 73, 0.1) -20px -20px,
    rgba(59, 82, 73, 0.05) -25px -25px;
}

/*- - - - - - - - - - M A I N - - - - - - - - - -*/
