body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: moveAndChange 5s infinite;
}

@keyframes moveAndChange{
    0% {
        transform: translateX(-300px);
        background-color: red;
    }

    50% {
        transform: translateX(300px);
        background-color: red;
    } 

    100% {
        transform: translateX(-300px);
        background-color: blue;
    }
}