* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.main-container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}
.texto-h1 {
  font-size: 30px;
  margin: 40px 0px 20px 0px;
}
.texto-h2 {
  font-size: 22px;
  margin: 20px 0px 20px 0px;
}
form {
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 10px 0 5px;
}
select {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
}
#form-curso,
#form-estudiante,
#form-edicion,
#lista-cursos {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
}
#form-edicion {
  border: 1px solid #0dcaf0;
  margin: auto;
}
#nombre-curso,
#profesor-curso,
#nombre-estudiante,
#edad-estudiante,
#nota-estudiante,
#curso-estudiante,
#nuevo-nombre-curso,
#nuevo-nombre-profesor{
  font-size: 14px;
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#edad-estudiante-editar,
#nota-estudiante-editar,
#nombre-estudiante-editar{
  width: 42%;
  font-size: 14px;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#edad-estudiante-editar,
#nota-estudiante-editar,
#nombre-estudiante-editar{
  width: 42%;
  font-size: 14px;
  padding: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 2px;
}
#boton-agregar-curso {
  font-size: 13px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px 1px 9px 1px;
  width: 17%;
  border-radius: 3px;
  margin-top: 10px;
}
#boton-agregar-estudiante {
  font-size: 13px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px 1px 9px 1px;
  width: 21%;
  border-radius: 3px;
  margin-top: 10px;
}
#boton-eliminar-curso,
#boton-editar-curso {
  font-size: 13px;
  padding: 7px 15px 7px 15px;
  width: 50%;
  border-radius: 3px;
  color: white;
}
#boton-editar-estudiante,
#boton-eliminar-estudiante {
  font-size: 13px;
  padding: 7px 15px 7px 15px;
  color: white;
  border-radius: 3px;
  width: 22%;
  margin-right: 5px;
}
.botones-acciones {
  display: flex;
  gap: 10px;
}
#guardar-edicion,
#cancelar-edicion{
  color: white;
  font-size: 13px;
  padding: 7px 1px;
  width: 13%;
  border-radius: 3px;
}
#guardar-edicion-estudiante,
#cancelar-edicion-estudiante {
  color: white;
  font-size: 13px;
  padding: 7px 1px;
  width: 33%;
  border-radius: 3px;
  margin-right: 5px;
}
#lista-cursos {
  margin-top: 20px;
}

.curso {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
}

.curso h3 {
  margin-bottom: 10px;
}

.estudiante {
  margin-left: 20px;
}
.titulo-curso {
  font-size: 15px;
}
.tabla-cursos,
.tabla-estudiantes {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}
.tabla-cursos th,
.tabla-cursos td,
.tabla-estudiantes th,
.tabla-estudiantes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.tabla-cursos th,
.tabla-estudiantes th {
  background-color: #f2f2f2;
}
label {
  font-size: 13px;
}
.texto-h4 {
  font-size: 20px;
  margin: auto;
}
td {
  font-size: 14px;
}
.mensaje {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 3px;
  z-index: 1000;
}
.success {
  border-radius: 3px;
  border: 1px solid green;
  background-color: #d4edda;
  color: #155724;
  font-style: oblique;
  transition: 1s;
}
.error {
  border-radius: 3px;
  border: 1px solid red;
  font-style: oblique;
  background-color: #f8d7da;
  color: #721c24; /
}
.mensaje {
  opacity: 1;
  transition: opacity 2s ease;
}
.mensaje.oculto {
  opacity: 0;
}
#busqueda-ingresada:hover{
  border: 1px solid blue;
}
.input-container {
  width: 100%;
  margin: 25px 0;
}
.input-container .col-auto {
  display: flex;
  align-items: center;
}
#filtro-estudiantes {
  font-size: 13px;
  margin-left: auto;
  width: 70%;
}
.contenedor-select{
  width: 50%;
}
#busqueda-ingresada {
  width: 100%;
  border-radius: 24px;
  font-size: 13px;
  padding: 7px 30px;
}
.fa-magnifying-glass {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-size: 14px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.63);
  transition: opacity 3s;
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 100%;
}
#btn-confirmar,
#btn-cancelar{
  font-size: 13px;
  border-radius: 3px;
  margin: 2px;
  width: 30%;
}
#contenedor-modal{
  border-radius: 5px;
  width: 50%;
  background-color: white;
}
.form-control {
  margin-right: 10px;
}