<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galería</title>
    <link rel="stylesheet" href="../styles/galeria.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="tabla.html">Tabla</a>
            <a href="http://www.google.com" target="_blank">Google</a>
            <a href="lista.html">Listas</a>
            <a href="formulario.html">Formularios</a>
        </nav>
    </header>

    <hr>

    <main>
        <section class="card">
            <img src="../img/y36T9jX5q_870x580__1.jpg" alt="Edificio moderno" class="imagen-responsive">
            <h2 class="card-title">Edificios</h2>
            <p>Lorem ipsum dolor sit amet...</p>
            <a href="../img/y36T9jX5q_870x580__1.jpg" target="_blank">
                <i class="fas fa-external-link-alt icon"></i> Enlace a la imagen
            </a><br>
            <a href="../pdf/perfil linkedin.pdf" download>
                <i class="fas fa-file-pdf icon"></i> Descargar PDF
            </a><br>
            <a href="mailto:seba@seba.com">
                <i class="fas fa-envelope icon"></i> Enviar Email
            </a>
        </section>

        <section id="segunda-seccion">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</h2>
        </section>

        <section style="text-align: center;">
            <a href="../index.html">Volver a inicio</a>
        </section>
    </main>

    <footer>
        <p>footer pie de página</p>
    </footer>
</body>
</html>
