.card{
    box-shadow: 0px 40px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 

.title{
    color: gray;
    font-size: 18px;
}

body{
    background-color: #f1f1f1;
}

button{
    border: None;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

button:hover,
a:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}


main div img{
    width: 100%;
}