/*- - - - - - - - - U N I V E R S A L - - - - - - - -*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*- - - - - - - - - - H E A D E R - - - - - - - - - -*/
.header-container {
  background: url(../assets/4.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 600px;
}
.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #000000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container-logo,
.container-links,
.container-search {
  height: 30px;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.fa-blog {
  font-size: 20px;
}
.my-blog {
  color: whitesmoke;
  font-size: 15px;
}
.list {
  list-style: none;
}
li {
  margin: 0px 30px 0px 30px;
  font-size: 13px;
  display: inline;
}
.a {
  font-size: 12px;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-class {
  font-style: italic;
  border-radius: 2px;
  height: 33px;
  font-size: 13px;
  color: grey;
}
#search-class:hover {
  transition: 1s;
  border: 1px solid rgba(255, 242, 0, 0.733);
}
.form-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.button-class {
  background-color: #bbb42e;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  color: white;
  font-size: 13px;
  height: 33px;
  padding: 5px 15px 5px 15px;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px solid red;
}
.h1-class,
.p-class {
  color: whitesmoke;
}
.description-container {
  text-align: justify;
}
.a-info-button {
  text-decoration: none;
  color: white;
}
.info-button {
  display: flex;
  justify-content: space-around;
  background-color: #bbb42e;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 13px;
  padding: 7px 33px 7px 33px;
  transition: 1s;
  font-size: 15px;
}
.fa-solid {
  color: whitesmoke;
}
.container-design {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  padding-top: 120px;
}
.h1-container {
  margin-top: 50px;
  margin-bottom: 20px;
}
