*{
    font-family: sans-serif;
    font-size: 20px;
}

nav{
    background-color: gray;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: yellow;
}

.div-h1{
    background-color: red;
}