body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align:center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main {
    flex: 3;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1d4662;
    color: white;
}

td {
    background-color: #ecf0f1;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #219150;
}

footer {
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 20px;
}