body,html{
    background-color: #f8f6f6;
}
.card{
    display: flex;
    border: 5px solid lightgray;
    border-radius: 10px;
    max-width: 350px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px 10px rgb(240, 240, 240) inset, 
    20px 20px 10px rgba(31, 31, 31, 0.4), 
    -10px -10px 10px rgb(111, 113, 113);
    position: relative;
    margin: auto;
}

h1{
    font-size: 24px;
    padding: 10px 17px;
    color: rgb(184, 184, 190);
    cursor: pointer;
}

h1:hover{
    color: rgb(67, 67, 70);
}

.title{
    color:rgb(70, 69, 69);
    font-size: 15px;
    text-align: center;
}

p{
    color: rgb(141, 121, 121);
    font-size: 16px;
}

a{
    text-decoration: none;
    background-color: rgb(236, 240, 243);
    color: rgba(98, 27, 4, 0.745);
    border: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}    

a:hover{
    color: rgb(120, 117, 114);
}

.image-container:hover{
    transform: scaleX(-1);
}

button{
    border-radius: 20px;
    border: none;
    display: inline-block;
    width: 100%;
    padding: 12px;
    color: rgb(122, 117, 117);
    background-color: #fff6;
    text-align: center;
    cursor: pointer;
}

button:hover{
    opacity: 0.10;
}




